@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    color: #f8fbfd;
    overflow-x: hidden;
}
main{
    width: 100%;
    height:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
}
header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
img{
    cursor: pointer;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    color: #3B8DBF;
}
.sph1{
    color:#D9304F !important;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.verb-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #D9304F;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fff;
    padding: 1em;
    width: 50%;
   
    gap: 1em;
}
.verb-cc{
    display: flex;
    text-align: center;
    font-size: 2em;
    background-color: #313030;
    width: 100%;
    padding: .5em;
    border-radius: 10px;
    font-family:'Poppins',sans-serif ;
}
.verbt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    height:100%;
    width: 100%;
}
.falar{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.conjugations{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 65%;
}
.conjugation{
    background-color: #3B8DBF;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    
}
label{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    font-size: 1.2em;
}
input{
    width: 100%;
    height: 2em;
    border-radius: 10px;
    border: none;
    padding: .5em;
    font-size: 1.2em;
    outline: none;
    background-color: #f8fbfd;
    color: #313030

}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    
}
button{
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 40%;
    font-size: 1.2em;
    background-color: #313030;
    color: #fff;
}
.right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: 100%;
}
.result{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height:95%;
    background-color: #303130;
    border-radius: 10px;
    padding: 1em;
    gap: 1em;
    color: #fff;
}
.result p{
    text-align: center;
}

@media screen and (max-width:900px) {
    .conjugations,.verb-container{
        width: 80%;
    }
    .result{
        width: 80%;
    }
}
@media screen and (max-width:550px){
    body{
        height: 150vh;
    }
    main{
        flex-direction: column;
        height: 100%;
    }
    .right,.left{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
}